<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.rahmatabad.shahid3768">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shahid3768">
        <activity
            android:name=".VasiatActivitySh6"
            android:exported="false" />
        <activity
            android:name=".VasiatActivitySh5"
            android:exported="false" />
        <activity
            android:name=".VasiatActivitySh4"
            android:exported="false" />
        <activity
            android:name=".VasiatActivitySh3"
            android:exported="false" />
        <activity
            android:name=".VasiatActivitySh2"
            android:exported="false" />
        <activity
            android:name=".VasiatActivitySh1"
            android:exported="false" />
        <activity
            android:name=".AboutmeActivity"
            android:exported="false" />
        <activity
            android:name=".LifeRezaeiActivity"
            android:exported="false" />
        <activity
            android:name=".LifeKhaliliActivity"
            android:exported="false" />
        <activity
            android:name=".LifeTeymoriActivity"
            android:exported="false" />
        <activity
            android:name=".LifeGolabiActivity"
            android:exported="false" />
        <activity
            android:name=".LifeSadeghpourActivity"
            android:exported="false" />
        <activity
            android:name=".LifeBarokobiyanActivity"
            android:exported="false" />
        <activity
            android:name=".RezaeiActivity"
            android:exported="false" />
        <activity
            android:name=".KhaliliActivity"
            android:exported="false" />
        <activity
            android:name=".GolabiActivity"
            android:exported="false" />
        <activity
            android:name=".TeymoriActivity"
            android:exported="false" />
        <activity
            android:name=".SadeghpourActivity"
            android:exported="false" />
        <activity
            android:name=".BarotkobianActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>